In [1]:
# Dependencies
import pandas as pd

In [15]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]
pd.Series(bootcamp_unis)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [16]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]
pd.DataFrame(movies_dicts)

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [17]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame. 
movies_dict_2 = {
    "Title": ["The Godfather", "Pulp Fiction", "Minions"],
    "Year Released": [1972, 1994, None],
}
pd.DataFrame(movies_dict_2)

           Title  Year Released
0  The Godfather         1972.0
1   Pulp Fiction         1994.0
2        Minions            NaN

In [19]:
# Create a DataFrame using a dictionary of lists
dict_lists = {
    "Frame":["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price":[15, 12.5, 10.0, 5.0, 1.0],
    "Sales":[100, 200, 150, 300, None]
}
pd.DataFrame(dict_lists)

       Frame  Price  Sales
0     Ornate   15.0  100.0
1  Classical   12.5  200.0
2     Modern   10.0  150.0
3       Wood    5.0  300.0
4  Cardboard    1.0    NaN