In [1]:
import pandas as pd
from pathlib import Path

resources = Path("resources")
file = resources / "missing_grades.csv"

In [14]:
missing_grade_df = pd.read_csv(file)
school_df = pd.read_csv(resources / "schools_complete.csv")
missing_grade_df.head()

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0

In [8]:
grade_df = missing_grade_df.dropna()
grade_df.head()

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
6           6      Sheena Carter      F  11th           82.0        80.0

In [16]:
school_df["budget"].dtype
school_df.budget.dtype

dtype('int64')

In [17]:
school_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object